* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 14px;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/bg-stars.svg"), linear-gradient(to bottom, $veryDarkBlue, $veryVeryDarkBlue);
  background-repeat: no-repeat;
  color: $grayBlue;
}
h1 {
  text-transform: uppercase;
  padding: 2.5rem;
  margin-top: 5rem;
  text-align: center;
}
.countdown {
  display: flex;
  justify-content: center;
  gap: 3vmax;
  &__Card {
    height: 5em;
    width: 5em;
    background: $darkDesaturatedBlue;
    position: relative;
    color: $softRed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .countdown__Card--Animation {
      animation: CardFlip 1s infinite ease-out;
    }
    @keyframes CardFlip {
      0% {
        opacity: 1;
        transform: rotateX(0);
      }
      80% {
        opacity: 0;
      }
      100% {
        transform: rotateX(360deg);
      }
    }

    // .countdown__Card--Middle {
    //   font-size: 2.8em;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   height: 100%;
    //   width: 100%;

    // }
    div {
      font-size: 2.8em;
    }
    &--Middle {
      position: absolute;
      height: 100%;
      width: 100%;
      &::before,
      &::after {
        // content: "";
        height: 48%;
        width: 120%;
        position: absolute;
        left: -10%;
        overflow: hidden;
        border-radius: 5px;
      }
      &::before {
        background: $darkDesaturatedBlue;
      }
      &::after {
        bottom: 0;
        background: hsl(236, 21%, 20%);
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 100;
        background: transparent;
      }
    }
    &--Top,
    &--Bottom {
      position: relative;
      transition: 0.8s;
      transform-style: preserve-3d;
      perspective: 1000;
      width: 120%;
      height: 48%;
      left: -10%;
      overflow: hidden;
      border-radius: 5px;
      z-index: 1000;
      span {
        position: absolute;
        width: 100%;
        text-align: center;
      }
    }
    &--Top {
      transform-origin: 0 0;
      background: $darkDesaturatedBlue;
      span {
        top: 35%;
      }
    }
    &--Bottom {
      transform-origin: 0 100%;
      background: hsl(236, 21%, 20%);
      span {
        bottom: 35%;
      }
    }
  }
  &__Label {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 1.5em 0;
  }
}
.footer {
  position: relative;
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    position: relative;
    top: 7em;
    svg {
      fill: #8385a9;
      &:hover {
        fill: $softRed;
      }
    }
  }
  .bg-hills {
    img {
      height: auto;
      width: 100%;
    }
  }
  .attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
  }
}
