* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 14px;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/bg-stars.svg"), linear-gradient(to bottom, $veryDarkBlue, $veryVeryDarkBlue);
  background-repeat: no-repeat;
  color: $grayBlue;
}
h1 {
  text-transform: uppercase;
  padding: 2.5rem;
  margin-top: 5rem;
  text-align: center;
}
.countdown {
  display: flex;
  justify-content: space-evenly;
  &__Card {
    height: 5em;
    width: 5em;
    background: $darkDesaturatedBlue;
    position: relative;
    color: $softRed;
    span {
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.8em;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 120%;
      height: 48%;
      left: -10%;
      border-radius: 5px;
    }
    &::before {
      top: 0;
      background: hsl(236, 21%, 20%);
    }
    &::after {
      bottom: 0;
      background: $darkDesaturatedBlue;
    }
  }
  &__Label {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 1.5em 0;
  }
}
.footer {
  position: relative;
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    position: relative;
    top: 7em;
    svg {
      fill: #8385a9;
      &:hover {
        fill: $softRed;
      }
    }
  }
  .attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
  }
}
